<div class="iconAndName">
    <p style="float: left;">

        <img class="icon" src="{{ object.icon }}">
    </p>
    <h3 id="{{ object.id }}">{% if not base %} {{ object.id }} - {% endif %}{{ object.name }}</h3>
    {% autoescape false %}
    <p>   {{ object.description }}  </p>
    {% endautoescape %}
</div>

<br>
<div class="vertical-line"></div>

<dl class="singleDl">
    <dt>{{ tr.trt('chance') }} </dt>

    <dd>{{ object.chance }}</dd>


    <dt>{{ tr.trt('drd_race') }} </dt>
    <dd>{{ tr.trt(object.drd_race) }}</dd>

    <dt>{{ tr.trt('drd_class') }} </dt>
    <dd>{{ tr.trt(object.drd_class) }}</dd>


</dl>

<table class="modifier">
    <tr>
        <th>{{ tr.trt('name') }}</th>
        <th>{{ tr.trt('attrTarget') }}</th>
        <th>{{ tr.trt('valueType') }}</th>
        <th>{{ tr.trt('value') }}</th>
    </tr>
    {% if object.contexts|length > 0 %}
        {% for modif in object.contexts %}
            <tr>

                <td>{% if modif.name == None %} {{ '---' }} {% else %}{{ modif.name }}{% endif %}</td>
                <td>{{ tr.trt(modif.targetAttribute) }}</td>
                <td>{{ tr.trt(modif.valueType) }}</td>
                <td>{{ modif.value }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td>---</td>
            <td>---</td>
            <td>---</td>
            <td>---</td>
        </tr>
    {% endif %}

</table>

<br>
<br>