<div class="iconAndName">
    <p style="float: left;">

        <img class="icon" src="{{ object.icon }}">
    </p>
    <h3>{{ object.name }}</h3>
    {% autoescape false %}
    <p>   {{ object.description }}  </p>
    {% endautoescape %}
</div>

<br>
<div class="vertical-line"></div>

<dl class="singleDl">
    <dt>{{ tr.trt('attrTarget') }} </dt>

    <dd>{{ object.targetAttribute }}</dd>


    <dt>{{ tr.trt('valueType') }} </dt>
    <dd>{{ object.valueType }}</dd>

    <dt>{{ tr.trt('value') }} </dt>
    <dd>{{ object.value }}</dd>


</dl>


<br>
<br>