<div class="objectBlock">
    <div class="iconAndName">
        <p style="float: left;">
            <img class="icon" src="{{object.icon}}">
        </p>

        <h3>{{object.name}}</h3>
        <p> {{object.description}} </p>
    </div>

    <dl>
        <dt>{{tr.trt('weight')}}</dt>
        <dd> {{ object.weight }}</dd>

        <dt>{{ tr.trt('price') }}</dt>
        <dd> {{ object.price }}</dd>

        <dt>{{tr.trt('quality')}}</dt>
        <dd> {{ object.quality }}</dd>

        <dt>{{ tr.trt('weightA') }}</dt>
        <dd> {{ object.weightA }}</dd>

        <dt>{{ tr.trt('weightB') }}</dt>
        <dd> {{ object.weightB }}</dd>

        <dt>{{ tr.trt('weightC') }}</dt>
        <dd> {{ object.weightC }}</dd>

        <dt>{{ tr.trt('size') }}</dt>
        <dd> {{ object.size }}</dd>


    </dl>
</div>
<br>
<br>