<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <style>
        {% include 'style.css' %}
    </style>
    <title></title>

</head>

<body>
    {% if export == objectType.ITEM %}
        {% include 'items.html' %}
    {% elif export == objectType.ABILITY %}
        {% include 'abilities.html' %}
    {% elif export == objectType.ABILITY_CONTEXT %}
        {% include 'abilityContexts.html' %}
    {% elif export == objectType.SPELL %}
        {% include 'spells.html' %}
    {% elif export == objectType.EFFECT %}
        {% include 'effects.html' %}
    {% elif export == objectType.MODIFIER %}
        {% include 'modifiers.html' %}
    {% elif export == objectType.CHARACTER %}
        {% include 'characters.html' %}
    {% elif export == objectType.MONSTER %}
        {% include 'monsters.html' %}
    {% elif export == objectType.MAP %}
        {% include 'maps.html' %}
    {% elif export == objectType.LOCATION %}
        {% include 'locations.html' %}
    {% elif export == objectType.SCENARIO %}
        {% include 'scenarios.html' %}
    {% endif %}

</body>
</html>