<div class="iconAndName">
    <p style="float: left;">
        <img class="icon" src="{{object.icon}}">
    </p>

    <h3>{{object.name}}</h3>
    <p> {{ object.description }} </p>
</div>

<dl class="largeDL">


    <dt> {{ tr.trt('agility') }}</dt>
    <dd> {{ object.agility }}</dd>

    <dt> {{ tr.trt('charisma') }}</dt>
    <dd> {{ object.charisma }}</dd>

    <dt> {{ tr.trt('intelligence') }}</dt>
    <dd> {{ object.intelligence }}</dd>

    <dt> {{ tr.trt('mobility') }}</dt>
    <dd> {{ object.mobility }}</dd>

    <dt> {{ tr.trt('strength') }}</dt>
    <dd> {{ object.strength }}</dd>

    <dt> {{ tr.trt('toughness') }}</dt>
    <dd> {{ object.toughness }}</dd>

    <dt> {{ tr.trt('age') }}</dt>
    <dd> {{ object.age }}</dd>

    <dt> {{ tr.trt('height') }}</dt>
    <dd> {{ object.height }}</dd>

    <dt> {{ tr.trt('weight') }}</dt>
    <dd> {{ object.weight }}</dd>

    <dt> {{ tr.trt('level') }}</dt>
    <dd> {{ object.level }}</dd>

    <dt> {{ tr.trt('xp') }}</dt>
    <dd> {{ object.xp }}</dd>

    <dt> {{ tr.trt('maxHealth') }}</dt>
    <dd> {{ object.maxHealth }}</dd>

    <dt> {{ tr.trt('maxMana') }}</dt>
    <dd> {{ object.maxMana }}</dd>

    <dt> {{ tr.trt('drdClass') }}</dt>
    <dd> {{ object.drdClass }}</dd>

    <dt> {{ tr.trt('drdRace') }}</dt>
    <dd> {{ object.drdRace }}</dd>

</dl>

{% with objects = object.items + object.armors + object.containers + object.moneyList + object.meleeWeapons + object.rangedWeapons + object.throwableWeapons %}
    {% include 'items.html' %}
{% endwith %}

{% with objects = object.spells %}
    {% include 'spells.html' %}
{% endwith %}

{% with objects = object.abilities %}
    {% include 'abilities.html' %}
{% endwith %}

