<div class="iconAndName">
    <p style="float: left;">

        <img class="icon" src="{{ object.icon}}">
    </p>

    <h3 id="{{ object.id }}">{% if not base %} {{ object.id }} - {% endif %}{{ object.name }}</h3>
    {% autoescape false %}
        <p> {{ object.description }}</p>
    {% endautoescape %}
</div>

<div class="vertical-line" ></div>

<dl class="singleDl">

    <dt> {{ tr.trt('target') }}</dt>
    <dd> {{ tr.trt(object.targetType) }} </dd>

</dl>

<table class="modifier">
    <tr>
        <th>{{ tr.trt('name') }}</th>
        <th>{{ tr.trt('modifTarget') }}</th>
        <th>{{ tr.trt('attrTarget') }}</th>
        <th>{{ tr.trt('valueType') }}</th>
        <th>{{ tr.trt('value') }}</th>
    </tr>
    {% for modif in object.modifiers %}
        <tr>

            <td>{% if modif.name == None %} {{ '---' }} {% else %}{{ modif.name }}{% endif %}</td>
            <td>{{ tr.trt(modif.targetType) }}</td>
            {% if modif.characterTargetAttribute %}
                <td>{{ tr.trt(modif.characterTargetAttribute) }}</td>
            {% else %}
                <td>{{ tr.trt(modif.itemTargetAttribute) }}</td>
            {% endif %}
            <td>{{ tr.trt(modif.valueType) }}</td>
            <td>{{ modif.value }}</td>
        </tr>
    {% endfor %}


</table>

<br>
<br>
