<h1> Předměty</h1>

{% for object in objects %}
    <div class="objectBlock">
        {% if object.type == itemType.GENERIC %}
            {% include 'item.html' %}
        {% elif object.type == itemType.CONTAINER %}
            {% include 'container.html' %}
        {% elif object.type == itemType.MELEE_WEAPON %}
            {% include 'meleeWeapon.html' %}
        {% elif object.type == itemType.MONEY %}
            {% include 'money.html' %}
        {% elif object.type == itemType.ARMOR %}
            {% include 'armor.html' %}
        {% elif object.type == itemType.RANGED_WEAPON %}
            {% include 'rangedWeapon.html' %}
        {% elif object.type == itemType.THROWABLE_WEAPON %}
            {% include 'throwableWeapon.html' %}
        {% endif %}
    </div>
{% endfor %}


