
    <div class="iconAndName">
        <p style="float: left;">
            <img class="icon" src="{{object.icon}}">
        </p>

        <h3 id="{{ object.id }}">{{object.name}}</h3>
        <p> {{object.description}} </p>
    </div>

    <dl>
        <dt>{{ tr.trt('weight') }}</dt>
        <dd> {{ object.weight }}</dd>

        <dt>{{ tr.trt('price') }}</dt>
        <dd> {{ object.price }}</dd>

        <dt>{{ tr.trt('strength') }}</dt>
        <dd> {{ object.strength }}</dd>

        <dt>{{ tr.trt('rampancy') }}</dt>
        <dd> {{ object.rampancy }}</dd>

        <dt>{{ tr.trt('defence') }}</dt>
        <dd> {{ object.defence }}</dd>

        <dt>{{ tr.trt('length') }}</dt>
        <dd> {{ object.length }}</dd>

        <dt>{{ tr.trt('weaponWeight') }}</dt>
        <dd> {{ object.weaponWeight }}</dd>

        <dt>{{ tr.trt('handling') }}</dt>
        <dd> {{ object.handling }}</dd>

    </dl>
<br>
<br>