<div class="iconAndName">
    <p style="float: left;">

        <img class="icon" src="{{ object.icon }}">
    </p>
    <h3 id="{{ object.id }}">{{ object.name }}</h3>
    {% autoescape false %}
    <p>   {{ object.description }}  </p>
    {% endautoescape %}
</div>

<br>
<div class="vertical-line"></div>

<dl class="singleDl">
    <dt>{{ tr.trt('modifTarget') }} </dt>

    <dd>{{ tr.trt(object.targetType) }}</dd>

    <dt>{{ tr.trt('attrTarget') }} </dt>
    {% if object.characterTargetAttribute %}
        <dd>{{ tr.trt(object.characterTargetAttribute) }}</dd>
    {% else %}
        <dd>{{ tr.trt(object.itemTargetAttribute) }}</dd>
    {% endif %}




    <dt>{{ tr.trt('valueType') }} </dt>
    <dd>{{ tr.trt(object.valueType) }}</dd>

    <dt>{{ tr.trt('value') }} </dt>
    <dd>{{ object.value }}</dd>


</dl>


<br>
<br>