 <div class="iconAndName">
        <p style="float: left;">
            <img class="icon" src="{{object.icon}}">
        </p>

        <h3 id="{{ object.id }}">{{object.name}}</h3>
        <p> {{object.description}} </p>
    </div>

    <dl>
        <dt>{{tr.trt('weight')}}</dt>
        <dd> {{ object.weight }}</dd>

        <dt>{{ tr.trt('price') }}</dt>
        <dd> {{ object.price }}</dd>

        <dt>{{ tr.trt('initiative') }}</dt>
        <dd> {{ object.initiative }}</dd>

        <dt>{{ tr.trt('strength') }}</dt>
        <dd> {{ object.strength }}</dd>

        <dt>{{ tr.trt('rampancy') }}</dt>
        <dd> {{ object.rampancy }}</dd>

        <dt>{{ tr.trt('rangeLow') }}</dt>
        <dd> {{ object.rangeLow }}</dd>

        <dt>{{ tr.trt('rangeMedium') }}</dt>
        <dd> {{ object.rangeMedium }}</dd>

        <dt>{{ tr.trt('rangeHigh') }}</dt>
        <dd> {{ object.rangeHigh }}</dd>

    </dl>
<br>
<br>