<div class="iconAndName">
    <p style="float: left;">

        <img class="icon" src="{{ object.icon }}">
    </p>

    <h3>{{ object.name }}</h3>
    <p> {{ object.description }}</p>
</div>

<div class="vertical-line" ></div>

<dl class="largeDL">

    <dt> {{ tr.trt('class') }}</dt>
    <dd> {{ object.drd_class }} </dd>

    <dt> {{ tr.trt('mana_cost_initial') }}</dt>
    <dd> {{ object.mana_cost_initial }} </dd>

    <dt> {{ tr.trt('mana_cost_continual') }}</dt>
    <dd> {{ object.mana_cost_continual }} </dd>

    <dt> {{ tr.trt('range') }}</dt>
    <dd> {{ object.range }} </dd>

    <dt> {{ tr.trt('scope') }}</dt>
    <dd> {{ object.scope }} </dd>

    <dt> {{ tr.trt('cast_time') }}</dt>
    <dd> {{ object.cast_time }} </dd>

    <dt> {{ tr.trt('duration') }}</dt>
    <dd> {{ object.duration }} </dd>

</dl>

<br>
<br>
