.idea
*.db



data/DAO/__pycache__/
data/DAO/interface/__pycache__/
data/database/__pycache__/DatabaseTables.cpython-34.pyc
data/database/__pycache__/ObjectDatabase.cpython-34.pyc
presentation/__pycache__/
structure/__pycache__/
structure/abilities/__pycache__/
structure/general/__pycache__/
structure/items/__pycache__/
structure/spells/__pycache__/
